<head>
    <meta charset="UTF-8" />
    <title>WebCampBackendNew</title>
    </head>
    <body class="body">
        <h1>Editing Book</h1>
        <%= form_with model:@book, local:true do |f| %>
        <% if @book.errors.any? %>
                <ul>
                    <% @book.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
              </div>
        <% end %>
        <p class="books">Titel</p>
        <%= f.text_field :title %>
        <p class="books">Body</p>
        <%= f.text_field :body %>
        <p><%= f.submit 'Update Book' %></p>
        <% end %>
        <%= link_to "Edit", book_path(@book) %>
        <a>|</a>
        <%= link_to "Back", books_path(@book) %>
    </body>
