    <body class="body">
            <p class="gr-index"><%=  notice %></p>
            <h1 class="header">BOOKs</h1>
            <table class="table">
            <thead>
                <tr>
                    <th class="table-ti">Title</th>
                    <th class="table-bo">Body</th>
                    <th class="table-li"></th>
                </tr>
            </thead>
            <tbody>
                <% @books.each do |book| %>
                <tr>
                    <td class="table-title"><%= book.title %></td>
                    <td class="table-body"><%= book.body %></td>
                    <td class="table-link">
                    <%= link_to "Show", book_path(book) %></td>
                    <td class="table-link">
                    <%= link_to "Edit", edit_book_path(book) %></td>
                    <td class="table-link">
                    <%= link_to "Destroy", book_path(book), method: :delete, "data-confirm" => "Are you sure?" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
            </table>
<h3>New book</h3>

<%= form_with model:@book, local:true do |f| %>
<% if @book.errors.any? %>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message + "error"%></li>
      <% end %>
    </ul>
<% end %>
<p class="books">Titel</p>
<%= f.text_field :title %>
<p class="books">Body</p>
<%= f.text_field :body %>

<p><%= f.submit 'Create Book' %></p>

<% end %>
    </body>