<html>
    <body class="body">
        <div class="show-body" >
        <p class="gr"><%=  notice %></p>
        <p>
        <string>Titel:</string>
        <%= @book.title %>
        </p>
        <p><string>Body:</string>
        <%= @book.body %>
        </p>
        </div>
         <%= link_to "Edit", edit_book_path(@book) %>
         |
         <%= link_to "Back", books_path %>
    </body>
</html>